h2 {
    font-size: 55px;
    font-weight: 630;
    margin-left: 15px;
    padding: 0px;
    margin: 0px;
    display: flex;
    margin-left: 35px !important;
    margin-bottom: 60px !important;
    flex-direction: row;
}

.moviesWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}